@font-face {
    font-family: 'Sequel';
    src: url('Sequel100Black-45.ttf');
}

* {
    margin: 0;
    user-select: none;
    font-family: 'Sequel';
    font-style: italic;
    font-size: 12px;
    line-height: 100%;
    color: lime;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: manipulation;
    /* background-color: deeppink; */
    /* background-color: lime; */
}

:root {
  touch-action: pan-x pan-y;
  height: 100%
}

@keyframes background-rotate {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

#background-grad {
    position: absolute;
    z-index: -10;
    width: 150vw;
    height: 150vw;
    top: -25vw;
    left: -25vw;
    /* background: radial-gradient(ellipse at 10% 10%, rgba(255, 255, 255, 0.4), transparent),
                radial-gradient(ellipse at 80% 90%, aqua, deeppink); */
    background: radial-gradient(ellipse at 10% 10%, rgba(0, 0, 0, 0.3), transparent),
                radial-gradient(ellipse at 80% 90%, black, lime);
    animation: background-rotate 30s linear infinite;
}

/* #background-img {
    position: absolute;
    z-index: -11;
    width: 100%;
    height: 100%;
    background-image: url('/assets/unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
    filter: grayscale(100%);
} */

#nav {
    /* display: none; */
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    /* background-color: lime; */
    /* padding-top: 5px; */
}

label {
    /* color: white; */
    margin-right: 10px;
    text-shadow: 0px 0px 10px black;
}

.nav-link {
    /* display: none; */
    position: absolute;
    z-index: 2;
    /* color: white; */
    text-decoration: none;
    text-shadow: 0px 0px 10px black;
    opacity: 0;
    padding: 3px;
}

#work {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

#work a {
    /* color: white; */
    margin-right: 10px;
    text-decoration: none;
}

#info {
    position: absolute;
    z-index: 0;
    /* width: 90%; */
    bottom: 0;
    left: 0;
}

@keyframes fade {
    0%   {opacity: 0}
    100% {opacity: 1}
}

#info p {
    display: block;
    /* font-size: 14px; */
    color: rgba(255, 255, 255, 0.5);
    /* text-shadow: 1px 1px 1px aqua; */
    /* animation: fade 0.3s 1; */
}

canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: deeppink; */
}

@media (orientation: portrait) {
    #background-grad {
        width: 150vh;
        height: 150vh;
        top: -25vh;
        left: -25vh;
    }

}
